.greeting-container{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.side-container{
  display: flex;
  flex-grow: 0;
  justify-content: center;
}
.icon-pdf{
  margin: 0.5rem;
  width: 70px;
  cursor: pointer;
}
