.abc-container{
  border: 2px solid #abd0d4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1.5rem;
  margin: 0 1rem 2rem;
}
.letter{
 cursor: pointer;
 font-size: 20px;
 transition: 0.2s;

 &:hover{
   transform: scale(1.2);
   font-weight: 600;
 }
}
.correct-letter{
  text-decoration: underline;
}
